.body-main{
    /* width: 100%; */
    width: 45%;
    height: 700px;
    margin: 8% 20% 0px 20%;
    border: 2px solid red;
}
.body-main form{
    height: 100%;
}
.body-header{
    font-weight: 1000;
    margin: 20px;
}
.body-form{
    height: 85%;
    overflow-y: auto;
    max-height: 876px;
}
.body-form-target{
    margin: 30px 0px 0px 50px;
}
.body-form-target-title input{
    border: 0px;
    /* 去除点击是的边框 */
    outline: none;
    /* 光标变为手 */
    cursor: pointer;
    font-weight: 800;
    background-color: white;
}
.body-form-target-body {
    display: flex;
    width: 70%;
}
.body-form-target-body button {
    border: none;
    border-radius: 50%;
    background-color: rgb(231, 222, 221);
    margin-right: 10px;
    margin-top: 6px;
    width: 25px;
    height: 25px;
    transform: scale(0.9);
}
.body-form-target-body button:hover {
    transform: scale(1.2);
    box-shadow: 0px 0px 30px #ccc;
}
.body-form-target-body span {
    font-size: 20px;
    color: red;
    border-width: 2px;
    border-color: rgb(241, 227, 165);
}